body {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #606060;
  position: relative;
}
html, body {
  width: 100%;
  overflow-x: hidden;
}
h1,h2,h3 { font-weight: 300; }
p { line-height: 28px; }
hr {
  border-color: #f2f2f2;
  width: 100px;
  margin-bottom: 40px;
}
.title {
  color: rgb(65, 54, 45);
  font-size: 60px;
  padding-bottom: 40px;
  text-transform: uppercase;
}

/* START NAVIGATION */
.sticky-navigation { 
  opacity: 0; 
}
.navbar-default {
  background: rgb(65, 54, 45);
  border: none;
  -webkit-box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.08);
          box-shadow: 0 2px 8px 0 rgba(255, 255, 255, 0.08);
  margin: 0;
  padding: 0;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  padding: 10px 0 0 12px;
}
.navbar-default .navbar-nav li a {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  line-height: 45px;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav li a:hover { 
  color: #d3817b; 
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #dc6e66;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #dc6e66;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
  border: none;
  padding-top: 10px;
}
.navbar-default .navbar-toggle .icon-bar {
  background: #D75148;
  border-color: transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* END NAVIGATION */

/* START HOME */
.templatemo-home {
  background: url('https://images.unsplash.com/photo-1666161922647-ad32c06f910b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1332&q=80');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  color: #5f5f5f;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;  
  height: 100vh;
}
.tm-home-title {
  font-size: 7rem; 
  padding-top: 8rem;
  color:white;
}
.tm-home-subtitle {
  color: #dc6e66;
  font-weight: bold;
  padding-bottom: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.tm-home-description {
  color:white;
}
.tm-view-more-btn {
  background: #D75148;
  box-shadow: 0 0 10px rgba(249, 217, 217, 0.251);
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
  padding: 15px 50px;
  -webkit-transition: all 0.3s ease-in;
          transition: all 0.3s ease-in;
}
.tm-view-more-btn:hover {
  background: #ffffff;
  color: #D75148;
  -webkit-transform:scale(1.05)
}
/* END HOME */

/* START PROYECTS */

.tm-padding-top-bottom-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.tm-portfolio {
  background: #ffffff;
  padding-top: 80px;
  padding-bottom: 200px;
}
.tm-portfolio .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tm-portfolio .col-md-3,
.tm-portfolio .col-sm-3 {
  padding: 0;
  margin: 0;

}
.tm-portfolio-title {
  text-align: center;
  text-transform: uppercase;
}
.portfolio-item-title {
  font-weight: bold;
  margin-top: 10px;
  text-transform: uppercase;
}
.portfolio-thumb {
  overflow: hidden;
  margin: 0;
  position: relative;
}
.portfolio-overlay {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  cursor:pointer;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;  
  padding: 0 40px;
  text-align: center;
  position: absolute;
  opacity: 0;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}
.portfolio-thumb:hover .portfolio-overlay {
  opacity: 0.4;  
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.portfolio-thumb:hover img {
  transform: scale(1.2);
  transition: all 1000ms ease-out;
  
}
.portfolio-overlay .fa {
  border: 1px solid #666;
  border-radius: 0;
  color: #666;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  margin-right: 6px;
  margin-bottom: 10px;
}

/* ISOTOPE BOX CSS */
.iso-box-section { 
  width: 100%; 
  padding: 2rem;
}
.iso-box-wrapper {
  width: 100%;
  padding: 0;
  clear: both;
  position: relative;
}
.iso-box {
  position: relative;
  min-height: 50px;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 30px;
}
.iso-box > a {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.fluid-img {
  width: 100%;
  display: block;
  height: auto;
  padding: 1rem;
  border-radius: 30px;
  
}
/* END PROYECTS */

/* START SKILLS */
.tm-red-text { color: #eb5424; }
.tm-info-label {
  font-weight: bold;
  display: inline-block;
  width: 90px;
}
.tm-progress {
  background: #fff;
  border-radius: 2px;
  height: 4px;
}
.progress-bar-danger { background: #eb5424; }
.tm-progress-label {
  font-size: 12px;
  font-weight: bold;
  padding-top: 10px;
  text-transform: uppercase;
}
.progress-percent-small {
  display: block;
  float: right;
  padding-right: 80px;
}
/* END SKILLS */

/* START ABOUT */
.tm-about {
  background: url('');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  padding-top: 90px;
  padding-bottom: 100px;
}
/* END ABOUT */

/* START SOCIAL */
.tm-social {
  text-transform: uppercase;

}
.tm-social .container {
  width: 100%;
  padding: 0;
  margin: 0;
}
.tm-social .col-md-4 {
  padding: 0;
  margin: 0;
}
.facebook:hover,
.twitter:hover,
.pinterest:hover {
  background: #202020;
}
.facebook { background: #3b5998; }
.twitter { background: #55acee; }
.pinterest { background: #cc2127; }
.media {
  padding: 80px 40px 80px 40px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.tm-social a {
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
}
.tm-social .media .fa {
  background: #ffffff;
  border-radius: 2px;
  color: #707070;
  font-size: 30px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-right: 20px;
}
.tm-social-title {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}
/* END SOCIAL */

/* START CONTACT */
.tm-contact {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.form-control {
  background: transparent;
  border: 1px solid #666;
  border-radius: 2px;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
  -webkit-transition: all 0.6s ease-in;
          transition: all 0.6s ease-in;
}
.form-control:focus,
 .form-control:hover {
  background: #202020;
  color: #ffffff;
}
input { height: 50px; }
.tm-contact p { padding-top: 40px; }
/* END CONTACT */

@media screen and (max-device-width: 1024px){
  .templatemo-home {
    background-attachment: scroll;
  }
}

/* START MEDIA 980 */
@media screen and (max-width:980px){
  .portfolio-overlay  { padding-top: 10px; }
}
/* END MEDIA 980 */

@media screen and (max-width: 767px) {
  .tm-home-title { font-size: 40px; }
}

/* START MEDIA 360 */
@media screen and (max-width:360px){
  .navbar-default .navbar-brand {  padding-top: 2px; }
}
/* END MEDIA 360 */
